  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

  body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
    background-color: #1f2937;
    color: #f1f1f1
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* Browser Scroll bar color change */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f2937;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #374151;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3741518f;
  }